<div style='display: block; width: 42%; max-width: 32rem; margin: 3rem auto; text-align: center;'>
<%= image_tag 'http://i.imgur.com/LA7h9l8.jpg', style: 'display: inline-block; width: 100%; height: auto; margin-bottom: 3rem;' %>
<%= link_to "GO HOME!", campaigns_path, style: 'font-size: 2.4rem' %>
</div>
