<div class="large-4 columns">
  <p class="text-center">
    
    <strong><%= link_to pledge.campaign.name, campaign_path(pledge.campaign) %></strong>
    <br>
    Reward: <%= pledge.reward.name %>
    <br>
    Amount Donated: $<%= pledge.reward.amount %>
    <br>
    <br>
  </p>
</div>