<div>
 <%= form.text_field :name, placeholder: 'Campaign Title' %>
</div>

<div>
 <%= form.number_field :goal, placeholder: 'Funding Goal Amount' %>
</div>
<div>
 <%= form.text_area :description, rows: 10, placeholder: 'Detailed description. Go nuts ...' %>
</div>