// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#datetime {
  display: inline-block;
}

.highlight{
  background: #e8f6ff;
}

.campaign_title {
  text-align: center;
  font-size: 3rem;
  font-weight: 750;
  margin: 35px;
}

.campaign_user {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 15px;
}

#total_earned {
  display: block;
  margin-top: 30px;
}

.campaign {
  text-align: left;
  border: 2px solid rgb(217, 217, 222);
  border-radius: 25px;
  width: 300px;
  background: white;

}

.campaign_info {

}

.campaign_header {
  font-size: 3rem;
}

.campaign_pic {
  height: 480px;
 }

.rewards {
  background: #F7FAFA;
  position: relative;
  height: 300px;

}

.hidden {
  display: none;
}

span.text-content {
  background: #b1de89;
  color: white;
  cursor: pointer;
  display: table;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  position: absolute;

}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 3rem;
}

// span.text-content.active span.text-content{
//   opacity: 1;
// }

.rewards.active span.text-content{
  opacity: 1;
}

.progressbar {
  max-width: 35%;
}

