// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#datetime {
  display: inline-block;
}

.campaign_title {
  text-align: center;
  font-size: 3rem;
  font-weight: 750;
  margin: 35px;
}

.campaign_user {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 15px;
}

#total_earned {
  font-size: 2rem;
  margin-top: 100px;
}

.campaign {
  
  text-align: left;
  border: 2px solid rgb(217, 217, 222);
  border-radius: 25px;
  width: 300px;
  background: white;
  
}

.capaign_info {
  margin: 7px;
}

.campaign_pic {
 
}

#rewards {

}