// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#datetime {
  display: inline-block;
}

.campaign_title {
  text-align: center;
  font-size: 3rem;
  font-weight: 750;
  margin: 35px;
}

.campaign_user {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 15px;
}

#total_earned {
  display: block;
  margin-top: 30px;
}

.campaign { 
  text-align: left;
  border: 2px solid rgb(217, 217, 222);
  border-radius: 25px;
  width: 300px;
  background: white;
}

.campaign_info {
  
}

.campaign_header {
  font-size: 3rem;
}

.campaign_pic {
 }
